[Unit]
Description=Docker Agent - Service that runs inginious submissions
StartLimitBurst=300
StartLimitIntervalSec=600
After=network.target
After=docker.service

[Service]
User=agent
Group=agent
EnvironmentFile=/etc/sysconfig/env_agents.conf
WorkingDirectory=/var/www/INGInious/
ExecStart=/usr/local/bin/docker_agent.sh
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
