[Unit]
Description=MCQ Agent - Helper service of docker_agent service 
After=network.target
After=docker

[Service]
User=agent
Group=agent
EnvironmentFile=/etc/sysconfig/inginious_agents.conf
WorkingDirectory=/var/agent/
ExecStart=/usr/local/bin/mcq_agent.sh

[Install]
WantedBy=multi-user.target
